body {
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
}
.header-menu {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
}
.header-logo {
  padding-left: 20px;
  padding-right: 50px;
  height: 60px;
}
.topmenu img {
  height: 40px;
}
.topmenu, .submenu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.submenu {
  display: none;
  position: absolute;
}
.topmenu-link {
  display: inline-block;
  margin: 0;
  padding: 5px 0px;
  background: #ddd;
  min-width: 100px;
  text-align: center;
}
.topmenu-link:hover {
  background: #e1e5ac;
}
.topmenu-link:hover .submenu {
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.2); 
}
.submenu-link {
  padding: 20px 10px;
  background: white;
  text-align: left;
  font-size: 16px;
}
.submenu-link:hover {
  background: #e1e5ac;
}
.active {
  background: white;
}

/* Удаление оформления ссылок */
.nav-link {
  text-decoration: none;
  color: black;
  display: block;
}
.search {
  padding-right: 20px;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
}

/*Выравнивание ширины блоков*/
aside, .right-block {
  width: 20%;
  margin: 0;
  padding: 0;
}
.content {
  width: 60%;
  padding: 20px;
  background-color: white;
}

/*Настройка перечня страниц раздела*/
.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: streth;
  max-width: 100%;
}

/*Настройка плиток*/
.panel {
  text-decoration: none;
  color: black;
  background-color: #E5E5E5;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  width: 30%;
}
.panel:hover {
  box-shadow: 0px 0px 15px 0px #ccc;
}
.panel h3 {
  margin: 5px 0px;
}
hr {
  border: 0;
  background-color: #ccc;
  height: 2px;
}
.panel p {
  margin-bottom: 5px;
}

/*Настройки стилей основного тела статьи*/
.content h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}
.content h2 {
  font-size: 22px;
}
.content h3 {
  font-size: 18px;
}
.content p, .content pre {
  font-size: 16px;
}
.content li {
  line-height: 130%;
}
.content p code, .content li code, .content pre {
  font-size: 14px;
  background-color: #E5E5E5;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content pre {
  padding: 5px;
}
.example {
  font-size: 16px;
  background-color: #E5E5E5;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/*Левое боковое меню навигации*/
aside ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
aside li {
  padding: 5px;
}
aside a {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 16px;
}
aside li:hover {
  background: #e1e5ac;
}



/*Оформление подвала*/
footer {
  flex-shrink: 0;
  background-color: #ddd;
  padding: 5px;
  text-align: center;
}