/* Большие экраны */
.navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* Это выровняет элементы по конечной части линии на главной оси */
  justify-content: flex-start;
}

/* Средние экраны */
@media all and (max-width: 800px) {
  .navigation {
    /* На экранах среднего размера мы центрируем элементы, равномерно распределяя пустое пространство вокруг элементов */
    justify-content: space-around;
  }
}

/* Маленькие экраны */
@media all and (max-width: 500px) {
  .navigation {
    /* На маленьких экранах мы больше не используем направление строки, а используем столбец */
    flex-direction: column;
  }
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* Мы говорим, что все элементы имеют ширину 100%, через flex-base */
.wrapper > * {
  flex: 1 100%;
}

/* Мы используем исходный порядок для первого мобильно варианта
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Средние экраны */
@media all and (min-width: 600px) {
  /* Мы говорим обеим боковым панелям встать в одну строку */
  .aside { flex: 1 auto; }
}

/* Большие экраны */
@media all and (min-width: 800px) {
  /* Мы инвертируем порядок первой боковой панели и основной и говорим главному элементу, чтобы он занимал втрое большую ширину, чем две другие боковые панели
   */
  .main { flex: 10 0px; }
  .aside-1 { order: 1; position: sticky; top: 40px; height: 100%; }
  .main    { order: 2; margin-top: 30px; }
  .aside-2 { order: 3; position: sticky; top: 40px; height: 100%; }
  .footer  { order: 4; }
}

      /*Мои стили*/
.target:target {scroll-margin-top: 40px;}
/*Плавный скролл*/
* {scroll-behavior: smooth;}
/*Обнулили все отступы на странице*/
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: #ddd;
}
/*Задали фон для всех блоков, кроме основного тела статьи*/
main {
  background-color: white;
}
header {
  background-color: #ddd;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.main-logo {
  transition: 0.2s;
}
.main-logo:hover {
  transform: scale(1.1);
}
.header-logo {
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
}
.active-top {
  color: #f95c4b;
}
.submenu {
  display: none;
  position: absolute;
  list-style: none;
  text-align: left;
  background: white;
  padding: 10px;
  font-size: 16px;
  line-height: 170%;
}
.submenu a {
  text-decoration: none;
  color: black;
}
.navbutton {
  font-size: 16px;
  background: none;
  border: none;
  padding: 10px;
}
.navbutton img {
  height: 20px;
  padding-right: 5px;
}
.navbutton:hover {
  background-color: #f95c4b;
  color: black;
}

.fall-arrow {
  font-size: 20px;
  transition: 0.2s;
  line-height: 100%;
}
.navbutton:hover .fall-arrow {
  transform: rotate(90deg);
  transform-origin: left bottom;
  display: inline-block;
}
.navbutton:hover .submenu {
  display: block;
  margin-top: 10px;
  margin-left: -10px;
  box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.2); 
}
.nav-link:hover {
  color: #f95c4b;
}
.main {
  padding: 15px;
}



/*Настройки стилей основного тела статьи*/
hr {
  border: 0;
  background-color: #ddd;
  height: 2px;
}
.content h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}
.content h2 {
  font-size: 22px;
}
.content h3 {
  font-size: 18px;
}
.content p, .content pre {
  font-size: 16px;
}
.content li {
  line-height: 130%;
}
.content p code, .content li code, .content pre {
  font-size: 14px;
  background-color: #E5E5E5;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.content pre {
  padding: 5px;
}
.example {
  font-size: 16px;
  background-color: #E5E5E5;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.content p a {
  text-decoration: none;
  color: #f95c4b;
}

/*Настройка плиток с уроками*/
.block-lesson {
  display: flex;
  flex-wrap: wrap;
  align-items: streth;
  justify-content: center;
  max-width: 100%;
}
.panel {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  width: 30%;
}
.panel:hover {
  box-shadow: 0px 0px 15px 0px #ddd;
}
.panel h3 {
  margin: 5px 0px;
}
.panel p {
  margin-bottom: 5px;
}

/*Настройка боковых меню*/
.aside {
  padding: 0 10px;
  position: sticky;
}
.aside ul {
  list-style: none;
  line-height: 170%;
  padding: 0;
}
.aside a {
  text-decoration: none;
  color: black;
}
.aside a:hover {
  color: #f95c4b;
}
.active::before {
  content: "⊳ ";
  font-size: 18px;
}
.aside-2 ul ul{
  padding-left: 15px;
}

/*Настройки футера*/
.footer {
  padding: 15px 0;
  text-align: center;
}