*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: 0.25s ease;
}

/* Плавный скролл */
* {
	scroll-behavior: smooth;
}

/* Базовая поддержка обеих схем */
:root {
	color-scheme: light dark;
}

::selection {
    background: #ef5a42;
}

/* Светлая тема */
:root[data-theme="light"] {
	color-scheme: light;
	--primary-color: #007bff;
	--font-color: #333333;
	--bg-color: #ffffff;
	--heading-color: #222222;
	--secondary-bg: #f8f9fa;
	--border-color: #dee2e6;
	--code-color: rgba(0, 0, 0, 0.1);
}

/* Тёмная тема */
:root[data-theme="dark"] {
	color-scheme: dark;
	--primary-color: #0d6efd;
	--font-color: #e1e1e1;
	--bg-color: #121212;
	--heading-color: #f8f8f8;
	--secondary-bg: #1f1f1f;
	--border-color: #444444;
	--code-color: rgba(255, 255, 255, 0.1);
}

/* Базовая стилизация */

body {
	margin: 0;
	min-height: 100vh;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	background-color: var(--bg-color);
	color: var(--font-color);
	transition: background-color 0.25s ease, color 0.25s ease;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
}

.header {
	background-color: var(--secondary-bg);
	margin-bottom: 10px;
	width: 100%;
	box-shadow: 0px 3px 1px light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
	border-bottom: 1px solid var(--border-color);
	transition: background-color 0.25s ease, color 0.25s ease,
		border-color 0.25s ease;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-left,
.nav-right {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header a {
	text-decoration: none;
	outline: none;
}

/* Стили для кнопки */
#scrollToTopBtn {
    display: none; /* Скрыта изначально */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #ef5a42;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  	opacity: 0.5;
	line-height: 100%;
    font-family: monospace;
}

#scrollToTopBtn.at-bottom {
  opacity: 1;
}

@media (hover: hover) {
	#scrollToTopBtn:hover {
		opacity: 1;
	}
}

footer {
	width: 100%;
	padding: 15px 0;
	margin-top: 10px;
	text-align: center;
	background-color: var(--secondary-bg);
	box-shadow: -3px -3px 1px light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
	border-top: 1px solid var(--border-color);
}

.main {
	max-width: 1400px;
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.aside {
	width: 280px;
	max-width: 20vw;
	position: sticky;
	top: 0;
	height: fit-content;
	overflow-y: hidden;
}

aside,
.content {
	margin: 10px;
}

main img {
	display: block;
	width: 100%;
	max-width: 100%;
}

h1 {
	color: var(--heading-color);
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	/* Позиционируем заголовок */
	padding-bottom: 10px;
	/* Добавляем место под линией */
	z-index: 1;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: 10px;
}

aside h3 {
	margin-bottom: 20px;
}

.titled-line::after {
	content: "";
	/* Псевдоэлемент для линии */
	position: absolute;
	/* Абсолютное позиционирование */
	left: 0;
	/* Начало линии слева */
	bottom: 0;
	/* Размещаем линию под текстом */
	width: 100%;
	/* Длина линии */
	border-bottom: 2px solid light-dark(black, white);
	/* Собственно линия */
}

/* Настройка стилей шапки */
.main-logo {
	padding: 0 15px;
	display: block;
}

.main-logo:hover {
	transform: scale(1.1);
}

/* Настройка логотипов шапки*/
.header-logo {
	height: 30px;
}

.navbutton img {
	height: 20px;
	padding-right: 5px;
}

/* Настройка меню */
.menu {
	display: flex;
	list-style: none;
	z-index: 2;
}

.submenu {
	list-style: none;
	display: none;
	position: absolute;
	top: 50px;
	background-color: var(--secondary-bg);
	padding: 10px;
	min-width: 250px;
	line-height: 170%;
	z-index: 2;
}

.menu .navbutton {
	margin-right: 30px;
	color: light-dark(black, white);
	letter-spacing: 1px;
	font-weight: 600;
	line-height: 50px;
	cursor: pointer;
}

.menu a {
	color: light-dark(black, white);
	letter-spacing: 1px;
	font-weight: 600;
	display: block;
	line-height: 40px;
}

.menu li:hover,
.menu a:hover {
	color: #ef5a42;
}

.menu li:last-child {
	margin-right: 0;
}

.fall-arrow {
	font-size: 20px;
	transition: 0.2s;
	line-height: 100%;
}

.navbutton:hover .fall-arrow {
	transform: rotate(90deg);
	transform-origin: left bottom;
	display: inline-block;
}

.navbutton:hover .submenu {
	display: block;
	box-shadow: 3px 3px 1px light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
}

.active-top {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: #f95c4b;
}

/* Настройка боковых меню */
.aside ul {
	list-style: none;
	line-height: 170%;
	padding: 0;
}

.aside a {
	text-decoration: none;
	color: var(--font-color);
}

.aside a:hover {
	color: #f95c4b;
}

.aside .active::before {
	content: "⊳ ";
}

.aside-2 ul ul {
	padding-left: 15px;
}

/* Настройка основного контента */

.content li {
	margin-left: 30px;
	line-height: 130%;
}

.content code,
.content pre {
	font-size: 14px;
	background-color: var(--code-color);
	color: var(--font-color);
	border: 1px solid #ccc;
	border-radius: 5px;
}

.content pre code,
.content .example code {
	background: none;
	border: none;
}

.content pre {
	margin: 10px 0px;
	padding: 5px;
	white-space: pre-wrap;
}

.example {
	background-color: var(--code-color);
	color: var(--font-color);
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0px;
	padding: 5px;
}

.example dl,
.example dl>* {
	all: revert;
}

.example blockquote,
.example blockquote>* {
	all: revert;
}

.content p {
	margin-top: 5px;
}

.content p a {
	text-decoration: none;
	color: #f95c4b;
}

.content p a:hover {
	text-decoration: underline;
}

/*Настройка плиток с уроками*/
.block-lesson {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 5px;
}

.panel {
	text-decoration: none;
	color: var(--font-color);
	background-color: var(--code-color);
	border: 2px solid #ccc;
	border-radius: 20px;
	margin: 5px;
	padding: 10px;
}

.panel:hover {
	box-shadow: 0px 0px 15px 0px #ccc;
}

.panel h3 {
	margin: 5px 0px;
}

.panel p {
	margin-bottom: 5px;
	margin-top: 0;
}

/* Переключатель */
.switch-align {
	display: inline-block;
}

.theme-switch-wrapper {
	display: flex;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 28px;
	padding: 0;
	margin: 0 5px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Слайдер */
.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: #ccc;
	transition: 0.3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: 0.3s;
}

/* Активация слайдера */
input:checked+.slider {
	background-color: #ef5a42;
}

input:checked+.slider:before {
	transform: translateX(24px);
}

/* Круглый слайдер */
.slider.round {
	border-radius: 999px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Форма поиска */
#searchform {
	display: flex;
	align-items: center;
}

#searchform input {
	width: 170px;
	border: none;
	padding-left: 10px;
	height: 30px;
	overflow: hidden;
	outline: none;
	color: #9e9c9c;
	font-style: italic;
	background-color: var(--secondary-bg);
}

#searchform button {
	background: transparent;
	height: 40px;
	border: none;
	right: 10px;
	color: #ef5a42;
	cursor: pointer;
	font-size: 18px;
	padding-left: 5px;
	margin-right: 15px;
}

#searchform input:focus {
	outline: 2px solid #ef5a42;
}

/* Кнопка переключения меню, появляющаяся при ширине 960px */
.nav-toggle {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	background: #ef5a42;
	cursor: pointer;
	transition-duration: 1s;
}

.nav-toggle span {
	position: absolute;
	top: 19px;
	left: 8px;
	right: 8px;
	height: 2px;
	background: white;
	transition-duration: .25s;
    transition-delay: .25s;
}

.nav-toggle span:before,
.nav-toggle span:after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
	transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}

.nav-toggle span:before {
	top: -10px;
}

.nav-toggle span:after {
	top: 10px;
}

.nav-toggle.open span {
	transition-duration: 0.1s;
	transition-delay: .25s;
	background: transparent;
}

.nav-toggle.open span:before {
	transition: top .25s, transform .25s .25s;
	top: 0px;
	transform: rotateZ(-45deg);
}

.nav-toggle.open span:after {
	transition: top 0.4s, transform .25s .25s;
	top: 0px;
	transform: rotateZ(45deg);
}

/* Класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню */
.menu.active {
	max-height: 480px;
}

@media (max-width: 960px) {

	/* показываем кнопку для переключения верхней навигации */
	.nav-toggle {
		display: block;
	}

	header {
		padding: 0;
	}

	#searchform button {
		margin-right: 0;
	}

	/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
	.menu {
		max-height: 0;
		background: var(--secondary-bg);
		position: absolute;
		overflow: hidden;
		flex-direction: column;
		top: 41px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		padding-left: 10px;

	}

	/* делаем элементы списка блочными, чтобы они располагались друг под другом */
	.menu li {
		display: block;
		text-align: left;
		margin-right: 0;
	}

	.menu .submenu {
		display: block;
		position: static;
		padding: 0;
		padding-left: 40px;
		border-bottom: 1px solid #ebebe3;
		width: 100vw;
		line-height: 100%;
		margin: 0;
		background: var(--secondary-bg);
	}

	.fall-arrow,
	.navbutton:hover .fall-arrow {
		display: none;
	}

	.navbutton:hover .submenu {
		box-shadow: none;
	}

	.active-top {
		text-decoration: none;
	}

	.main {
		grid-template-columns: 1fr auto;
	}

	.aside-1 {
		grid-column: 1 / -1;
		order: 3;
		width: 60vw;
		max-width: 60vw;
	}

	.content {
		order: 1;
	}

	.aside-2 {
		order: 2;
	}

	.block-lesson {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {

	/* отменяем обтекание для логотипа и выравниваем по центру*/
	.navigation {
		flex-direction: column;
		gap: 5px;
	}

	.nav-right {
		display: flex;
		gap: 5px;
		justify-content: space-between;
		width: 100%;
	}

	#searchform {
		order: 1;
	}

	.switch-align {
		order: 2;
	}

	.nav-toggle {
		order: 3;
	}

	/* позиционируем меню на увеличившуюся высоту шапки */
	.menu {
		top: 85px;
	}

	.main-logo {
		margin-top: 5px;
	}

	/* позиционируем форму поиска по левому краю */
	#searchform {
		margin-left: 10px;
	}

	.main {
		grid-template-columns: 1fr;
	}

	.aside-2 {
		display: none;
	}

	.block-lesson {
		grid-template-columns: 1fr;
	}
}