header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
body {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  margin: 0;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post {
    max-width: 60%;
}
.html_ico {
  background-image: url(/img/html_logo.ico);
}
.css_ico {
  background-image: url(/img/css_logo.ico);
}
.js_ico {
  background-image: url(/img/js_logo.ico);
}
.topmenu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}
.submenu-link {
  width: 25%;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}